/* About.css */
.about-container {
  padding: 2rem;
}

.about-heading {
  text-align: center;
  margin-bottom: 3rem;
}

.about-card {
  background-color: #c1e0f7ff;
  border: none;
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 1rem;
}

.about-card-title {
  color: #c59fc9ff;
  font-weight: bold;
}

.about-card-text {
  color: #333;
}
